a {
  text-decoration: none;
  color: white;
}

.loginIcon {
  color: white;
  cursor: pointer;
}

.loginIcon:hover {
  color: black;
}

.navHeader {
  font-size: 24px;
}

.formLogin {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.formLoginInput {
  margin: 0px 5px 10px 5px;
}

.lbl_file {
  display: inline-block;
  padding: 20px 25px;
  margin: 0px 15px;
  border-radius: 20px;
  border: solid 1px rgb(116, 114, 114);
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(116, 114, 114);
}
.lbl_file:hover {
  background-color: rgb(116, 114, 114);
  color: white;
}

.lbl_file_error {
  display: inline-block;
  padding: 20px 25px;
  margin: 0px 15px;
  border-radius: 20px;
  border: solid 1px rgb(116, 114, 114);
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(227, 80, 80);
}

.lbl_file_ok {
  display: inline-block;
  padding: 20px 25px;
  margin: 0px 15px;
  border-radius: 20px;
  border: solid 1px rgb(116, 114, 114);
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(117, 250, 133); 
}

.inp_file {
  display: none;
}

.txtarea_description {
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  border-color: rgb(116, 114, 114);
}

.adminPanelBolck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.adminpanelImgInput {
  display: flex;
  align-items: center;
  padding: 20px;
}